.layout-container {
    margin: 0 auto;
    width: 75%;
    max-width: 1280px;
}

.blog-html ul {
    margin-left: 0;
}

.blog-html li {
    list-style-type: none;
    margin-bottom: 2px;
}

.blog-html h1,
.blog-html h2,
.blog-html h3,
.blog-html h4,
.blog-html h5 {
    text-transform: uppercase;
}

.blog-html h5 {
    text-decoration: underline;
}

.blog-html img {
    padding: 10px;
}

.image-halfsize-container {
    display: flex;
    margin-bottom: 20px;
}

.image-halfsize {
    flex: 2;
}

.header {
    display: inline-flex;
    border-bottom: 2px solid rgb(160, 144, 151, 0.4);
    margin-bottom: 50px;
    width: 100%;
    height: 70px;
}

#header-logo {
    padding: 3% 5%;
}

.header-logo-container {
    margin: 0 auto;
    display: inline-block;
}

.header__link-container {
    position: absolute;
    display: inline-block;
    right: 30px;
    height: inherit;
    cursor: pointer;
}

.header__link {
    padding: 0 10px;
    display: inline-block;
    font-weight: 300;
    font-size: 25px;
    color: #d0d1e2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    cursor: pointer;
    line-height: 70px;
}

.header__link svg {
    vertical-align: sub;
}

.header__link a {
    cursor: pointer;
}

.body-text {
    max-width: 760px;
    margin: 0 auto;
}